{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<!-- check if item is in stock and change the color of the button accordingly -->

{% if current_variant.available %}
    {% assign stock_status = 'available' %}
  {% else %}
    {% assign stock_status = 'unavailable' %}
{% endif %}

<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}

<h1>{{ product.title }}</h1>
<p>{{ settings.random_title }}</p>

<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>

  <script>
    console.log('{{settings.random_title}}');
  </script>

  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart" class="stock-{{stock_status}}" onclick="addItem('AddToCartForm'); return false;">
  <!--   if stock is between 0 and 5 change button to say "Low Stock" -->
  {% if stock > 0 and stock <= 5 %}
    Low Stock
  {% else %}
    Add to cart
  {% endif %}
</button>
</form>

<div>{{ product.description }}</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>
